[Unit]
Description=JoeBlakeB Discord Bot: JoeBot#3658

[Service]
WorkingDirectory=/home/joe/DiscordBot/
ExecStart=/usr/local/bin/python3.9 /home/joe/DiscordBot/JoeBot.py
Restart=always
KillSignal=SIGINT
User=joe

[Install]
WantedBy=network-online.target
